
.bottomSection{
    background: #f1f1f3;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.productImg{
    position: relative;
    height: 180px;
    overflow: hidden;
}
.productImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productImg svg{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.stock{
    width: auto;
    background-color: #28A745 !important;
    border-color:#28A745 !important;
    padding: 10px 12px !important;
}
.qty{
    font-size: 16px !important;
    color: #989898;
}
.descText{
    font-size: 14px !important;
    color: #989898;
    line-height: 1.4 !important;
}
.btnUnic{
    width: auto;
    min-width: 100px;
    padding: 10px 15px;
}



/* Favourite */
.wrap{
    max-width: 70%;
    margin: auto;
  }
.month-img{
    position: relative;
    height: 180px;
    overflow: hidden;
}
.month-img svg{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: red !important;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
.month-img img{
    width: 100%;
    min-height: 205px;
    object-fit: cover;
    border-radius: 6px;
}
.month-bt{
    position: absolute;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 12px;
    font-weight: 600;
    line-height: 0;
    bottom: 10px;
    right: 12px;
    box-shadow: 0px 2px 2px #00000029;
    border-radius: 20px;
}
.assignSec {
    width: 70%;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.assignField {
    padding: 15px;
    margin: 0 0 0 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}
/* .mapStyles {
    width: '100%';    
    height: '100%';  
  }

.markerStyle {
    height: '50px';  
    width: '50px';
    margin-top: '-50px';
  }

.imgStyle {
    height: 50px;
    width: 50px;
  } */
/* @media screen and (max-width:767px){
    .profileWrap .d-flex.align-items-end {
        flex-direction: column;
        align-items: center !important;
        text-align: center;
    }
    .profileWrap h2{
        margin-top: 20px;
    }
} */

.imgWrap2 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    margin: auto;
    }
.imgWrap2 img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
  .riderBtnSec {
    width: 30%;
      }

  .riderBtn {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .riderDetailsSec {
      width: 50%;
  }
  .msgShadowBox{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    /* background-color: white; */
    border-radius: 10px;
    margin: 50px 0;
  }